export ENVNAME=rust
unset GITHUB_TOKEN

export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

mkdir -p $TOP_HEAD/.direnv/rustup
export RUSTUP_HOME=/pkg/cargo/rustup/

export PATH=$PATH:$PWD:$PWD/target/debug:$PWD/target/release

source /opt/ros/jazzy/setup.sh

export_alias _b "./run.sh build"
export_alias _r "./run.sh run"
